.pink {
  background-color: pink;
  color: white;
  text-align: center;
}

  nav {
    text-align: center;
  }


 

  footer {
    background-position: absolute;
    bottom: 0;
    width: 100%;
    /*set the fixed height of the footer here */
    height: 60px;
    background-color: rgb(223, 147, 212)
  }

  @media (min-width: 640px) {
    }
  
    @media (min-width: 768px) {
    }

    @media (min-width: 900px) {
    }